{% extends "base.html" %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-md">
    <div class="md:flex">
        <div class="w-full p-3 px-6 py-10">
            <div class="text-center"><span class="text-xl text-gray-700">Login</span></div>
            <div class="mt-8">
                <!-- Add the method="POST" and set the action to the login route URL -->
                <form method="POST" action="{{ url_for('routes.login') }}">
                    {{ form.hidden_tag() }} <!-- Include CSRF token -->
                    <div class="mt-5">
                        {{ form.username.label(class="block") }}
                        <!-- Use Flask-WTF form fields to properly handle data and validation -->
                        {{ form.username(class="block w-full p-2 border rounded-md focus:border-blue-400 focus:ring-blue-400") }}
                    </div>
                    <div class="mt-5">
                        {{ form.password.label(class="block") }}
                        {{ form.password(class="block w-full p-2 border rounded-md focus:border-blue-400 focus:ring-blue-400") }}
                    </div>
                    <div class="mt-6">
                        {{ form.submit(class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600") }}
                    </div>
                </form>
                <div class="mt-4 text-grey-dark">
                    Don’t have an account yet? <a href="{{ url_for('routes.signup') }}" class="text-blue-600 hover:underline">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
